.overlay

.menu-wrapper
  %a.menu-toggler{:href => ""}
    %span
  %section.menu
    .menu__logo
      %img{:src => "images/menu-logo.png", :alt => ""}/
    %ul.menu__list
      %li.menu__list-item
        %a.menu__link{:href => ""} Itineraries
        %ul.sub-menu
          %li.sub-menu__item
            %a.sub-menu__link{:href => ""} My Itineraries
          %li.sub-menu__item
            %a.sub-menu__link{:href => ""} My contests
          %li.sub-menu__item
            %a.sub-menu__link{:href => ""} Settings
          %li.sub-menu__item
            %a.sub-menu__link{:href => ""} Payments
          %li.sub-menu__item
            %a.sub-menu__link{:href => ""} Log out
              
      %li.menu__list-item
        %a.menu__link{:href => ""}Contests
        %ul.sub-menu
          %li.sub-menu__item
            %a.sub-menu__link{:href => ""} My Itineraries
          %li.sub-menu__item
            %a.sub-menu__link{:href => ""} My contests
          %li.sub-menu__item
            %a.sub-menu__link{:href => ""} Settings
          %li.sub-menu__item
            %a.sub-menu__link{:href => ""} Payments
          %li.sub-menu__item
            %a.sub-menu__link{:href => ""} Log out
      
      %li.menu__list-item
        %a.menu__link{:href => ""}
          %img{:src => "images/menu-avatar.png", :alt => ""}/
          John Kennedy
        %ul.sub-menu.sub-menu-show
          %li.sub-menu__item
            %a.sub-menu__link{:href => ""} My Itineraries
          %li.sub-menu__item
            %a.sub-menu__link{:href => ""} My contests
          %li.sub-menu__item
            %a.sub-menu__link{:href => ""} Settings
          %li.sub-menu__item
            %a.sub-menu__link{:href => ""} Payments
          %li.sub-menu__item
            %a.sub-menu__link{:href => ""} Log out
      
      %li.menu__list-item
        %a.menu__link{:href => ""}
          Messages
          %span.messages-amount 13
        %ul.messages-list
          %li.message
            %h6.message__title Contest
            %a.message__preview{:href => ""}
              %p
                Weekend in Verona from Trento
                %span +1
            %a.message__preview{:href => ""}
              %p
                The journey to the Old World - Prague, Czech Republic
                %span +2
            %a.message__preview{:href => ""}
              %p Weekend in Verona from Trento
          %li.message
            %h6.message__title Itineraries
            %a.message__preview{:href => ""}
              %p
                Italian Masterpiece
                %span +2
            %a.message__preview{:href => ""}
              %p
                Romantic journey to Northern Italy
                %span +2
            %a.message__preview{:href => ""}
              %p Weekend in Verona from Trento
            %a.message__preview{:href => ""}
              %p Romantic journey to Northern Italy
          %li.message
            %h6.message__title Itineraries
            %a.message__preview{:href => ""}
              %p
                Italian Masterpiece
                %span +2
            %a.message__preview{:href => ""}
              %p
                Romantic journey to Northern Italy
                %span +2
            %a.message__preview{:href => ""}
              %p Weekend in Verona from Trento
            %a.message__preview{:href => ""}
              %p Romantic journey to Northern Italy
           