%header.header
  .header__pages
    %a.menu-toggler{:href => ""}
      %span
    %a.overview-btn{:href => "overview.html"} Overview
    %a.details-btn{:href => "details.html"} Details
  .header__share
    %span Share this itinerary:
    %a.tw{:href => ""}
      %i.fa.fa-twitter.fa-2x
    %a.fb{:href => ""}
      %i.fa.fa-facebook.fa-2x