%footer.footer
  .center-wrapper
    %nav.footer__nav
      %a.footer__nav-item{:href => ""} Home
      %a.footer__nav-item{:href => ""} Itineraries
      %a.footer__nav-item{:href => ""} About
    .footer__logo
      %img{:src => "images/footer-logo.png", :alt => ""}
    .footer__social
      %a.tw{:href => ""}
        %i.fa.fa-twitter
      %a.fb{:href => ""}
        %i.fa.fa-facebook
      %span (c) Wanderist 2014